{% extends 'layout.html' %}
{% block content %}
    {% load static from staticfiles %}

    <section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="content5-77"
             style="background-image: url({% static 'main/images/iphone-6-458151-1920-1920x1285-67.jpg' %});">
        <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
        <div class="container">
            <div class="row">
                <div>
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>UB ACM Blog and Resources</h3>
                            <div class="row">
                                <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
                                    <form method="post">
                                        {% csrf_token %}
                                        <input placeholder="Keyword" name="search" min="3" style="border-radius: 10px;
                                               background-color: rgba(98, 98, 98, 0.73); text-align: center; width: 95%; margin: auto;
                                               color: whitesmoke; font-size: 1.2em;" class="form-control" type="text">
                                        <br/>
                                        <div>
                                            <p>
                                                <button type="submit" style="display: inline" class="btn">Search</button>
                                                and Learn something new! <br></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% if posts.paginator.num_pages %}
                            <div class="pagination" style="margin: auto 0">
                                <span class="step-links">
                                {% if posts.has_previous %}
                                    <a href="?page={{ posts.previous_page_number }}" style="margin: 5px !important;"
                                       class="btn btn-primary">Previous</a>
                                {% endif %}

                                    <span class="current" style="color:white">
                                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                                </span>

                                    {% if posts.has_next %}
                                        <a href="?page={{ posts.next_page_number }}" style="margin: 5px !important;"
                                           class="btn btn-primary">Next</a>
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if posts|length < 1 %}
        <section class="mbr-section" style="padding: 5px; height: 40vh;" id="header3-78">
            <div class="mbr-section__container container mbr-section__container--first" style="padding: 15px">
                <div class="mbr-header mbr-header--wysiwyg row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3 class="mbr-header__text text-center">There are no posts!</h3>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

    {% for post in posts %}
        <section class="mbr-section" style="padding: 5px;" id="header3-78">
            <div class="mbr-section__container container mbr-section__container--first" style="padding: 15px">
                <div class="mbr-header mbr-header--wysiwyg row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="{% url 'blog:post' identity=post.identity %}" class="postHeader" target="_blank">
                            <h3 class="mbr-header__text">{{ post.title }}&nbsp;</h3>
                        </a>
                        <p class="mbr-header__subtext">
                            By {{ post.author.first_name }} {{ post.author.last_name }} and
                            posted {{ post.posted_at }}</p>
                        <hr>
                        {% if post.description|length > 5 %}
                            <p>{{ post.description }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
    <hr/>
    <section class="mbr-section" style="padding: 5px;" id="header3-78">
        <div class="mbr-section__container container mbr-section__container--first" style="padding: 15px">
            <div class="mbr-header mbr-header--wysiwyg row">
                <div class="text-center col-sm-8 col-sm-offset-2">
                    <h3>Want to add your own post?</h3>
                    <br/>
                    <a class="btn btn-primary" href="{% url 'blog:request' %}">Add Post</a>
                </div>
            </div>
        </div>
    </section>
    <br/>
{% endblock %}
