{% extends 'layout.html' %}
{% block content %}
    {% load static from staticfiles %}
    <link href="{% static 'pagedown/demo/browser/demo.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'admin/css/pagedown.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'pagedown/Markdown.Converter.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagedown-extra/pagedown/Markdown.Converter.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagedown/Markdown.Sanitizer.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagedown/Markdown.Editor.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagedown-extra/Markdown.Extra.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagedown_init.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/pagedown.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'main/mobirise/css/markdown.css' %}"/>
    <style>code {
        white-space: pre;
        background-color: rgba(122, 122, 122, 0.3);
        color: #000000;
    }

    #post-body {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
    }

    html {
        overflow-x: hidden;
    }

    h1, h2, h3, h4, h5, h6 {
        letter-spacing: 2px;
    }

    p {
        font-size: 1.2em !important;
    }

    code .line-number {
        float: left;
        margin: 0 1em 0 -1em;
        border-right: 1px solid;
        text-align: right;
    }

    code .line-number span {
        display: block;
        padding: 0 .5em 0 1em;
    }

    code .cl {
        display: block;
        clear: both;
    }
    </style>
    {% load markdown_deux_tags %}
    <section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="content5-77"
             style="background-image: url({% static 'main/images/iphone-6-458151-1920-1920x1285-67.jpg' %});">
        <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
        <div class="container">
            <div class="row">
                <div>
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>{{ post.title }}</h3>
                            <div><p>{{ post.description }}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="post-body">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-md-10 col-md-offset-1 markdown-body">
            <hr>
                {% block markdown %} {% endblock %}
            <hr>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% endblock %}
