{% extends 'layout.html' %}
{% block content %}
    {% load static from staticfiles %}

    <section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="content5-77"
             style="background-image: url({% static 'main/images/iphone-6-458151-1920-1920x1285-67.jpg' %});">
        <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
        <div class="container">
            <div class="row">
                <div>
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>UB ACM Blog and Resources</h3>
                            <div><p>Search and Learn something new! <br></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% for post in posts %}
        <section class="mbr-section" id="header3-78">
            <div class="mbr-section__container container mbr-section__container--first">
                <div class="mbr-header mbr-header--wysiwyg row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="{% url 'blog:post' identity=post.identity %}" class="postHeader" target="_blank">
                            <h3 class="mbr-header__text">{{ post.title }}&nbsp;</h3>
                        </a>
                        <p class="mbr-header__subtext">
                            By {{ post.author.first_name }} {{ post.author.last_name }} and posted {{ post.posted_at }}</p>
                    </div>
                </div>
            </div>
        </section>
        {% if post.description|length > 5 %}
            <section class="mbr-section" id="content1-79">
                <div class="mbr-section__container container mbr-section__container--middle">
                    <div class="row">
                        <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2"><p>{{ post.description }}&nbsp;</p></div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}

{% endblock %}
