{% extends 'layout.html' %}
{% block content %}
    {% load static from staticfiles %}
    <section
            class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background mbr-after-navbar"
            id="header" style="background-image: url({{ background.image.url }});">
        <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
            <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(76, 105, 114);"></div>
            <div class="mbr-box__container mbr-section__container container">
                <div class="mbr-box mbr-box--stretched">
                    <div class="mbr-box__magnet mbr-box__magnet--center-left">
                        <div class="row">
                            <div class=" col-sm-12 col-lg-8 col-md-10">
                                <div class="mbr-hero animated fadeInUp">
                                    <br/>
                                    <br/>
                                    <h1 class="mbr-hero__text">Association for Computing Machinery Buffalo Chapter</h1>
                                    <p class="mbr-hero__subtext">Our mission is to foster a student community around
                                        computer science and software engineering at the University at Buffalo through
                                        tech talks, hackathons, and social events.<br></p>
                                </div>
                                <div class="mbr-buttons btn-inverse mbr-buttons--left">
                                    <a class="mbr-buttons__btn btn btn-lg animated fadeInUp delay btn-warning"
                                       href="#events">EVENTS</a>
                                    <a class="mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay"
                                       href="{% url 'blog:index' %}">RESOURCES</a>
                                    <hr style="width: 60%">
                                    <form action="{% url 'add_user' %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-12">
                                                <input type="email" class="form-control" name="email"
                                                       style="border-radius: 10px;
                                                background-color: rgba(98, 98, 98, 0.73); color: whitesmoke; font-size: 1.2em;"
                                                       placeholder="UBITname@buffalo.edu"></div>
                                            <div class="col-lg-5 col-sm-12">
                                                <button class="mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay"
                                                        type="submit">SIGNUP FOR NEWSLETTER
                                                </button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="content-2 col-4" id="events" style="background-color: rgb(28, 73, 110);">
        <div class="container">
            <div class="row">
                {% for event in events %}
                    <div>
                        <div class="thumbnail">
                            <div class="image">
                                {% if event.picture %}
                                    <img class="undefined" src="{{ event.picture.url }}">
                                {% else %}
                                    <img class="undefined" src="{% static 'main/images/maps-350x350-26.png' %}">
                                {% endif %}
                            </div>
                            <div class="caption">
                                <div>
                                    <h3>{{ event.name }}<br/><br/>{{ event.date }}
                                        - {{ event.time }}<br/><br/>{{ event.location }}</h3>
                                    <p>{{ event.description }}</p>
                                </div>
                                {% if event.link|length > 5 %}
                                    <p class="group"><a href="{{ event.link }}" target="_blank" class="btn btn-info">MORE
                                        INFO</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="social-buttons"
             style="background-color: rgb(240, 240, 240);">
        <div class="mbr-section__container container">
            <div class="mbr-header mbr-header--inline row">
                <div class="col-sm-7">
                    <h3 class="mbr-header__text">FOLLOW US ON SOCIAL MEDIA</h3>
                </div>
                <div class="mbr-social-icons mbr-social-icons--style-1 col-sm-5">
                    <a class="mbr-social-icons__icon socicon-bg-twitter" title="Twitter" target="_blank"
                       href="https://twitter.com/ub_acm"><i class="socicon socicon-twitter"></i></a>
                    <a class="mbr-social-icons__icon socicon-bg-facebook" title="Facebook" target="_blank"
                       href="https://www.facebook.com/groups/ubacm"><i class="socicon socicon-facebook"></i></a>
                    <a class="mbr-social-icons__icon socicon-bg-google" title="Google+"
                       target="_blank" href="https://github.com/ubacm"><i
                            class="socicon socicon-github"></i></a>
                    <!--
                    <a class="mbr-social-icons__icon socicon-bg-instagram" title="GitHub" target="_blank"
                       href="https://github.com/ubacm"><i class="socicon socicon-instagram"></i></a>
                       -->
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-table-1 col-4" id="eboard" style="background-color: rgb(240, 240, 240);">
        <div class="container">
            <div class="row">
                <div>
                    <div class="plan green">
                        <h3>PRESIDENT</h3>
                        <img class="eboard-img" src="{{ eboard.president_picture.url }}">
                        <div>
                            <ul>
                                <li><strong>{{ eboard.president_name }}</strong></li>
                                <li>{{ eboard.president_grade }}</li>
                                <li>{{ eboard.president_major }}</li>
                            </ul>
                        </div>
                        {% if eboard.president_site|length > 5 %}
                            <p><a href="{{ eboard.president_site }}" class="btn btn-success">VIEW SITE</a></p>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="plan orange">
                        <h3>VP</h3>
                        <img class="eboard-img" src="{{ eboard.vp_picture.url }}">
                        <div>
                            <ul>
                                <li><strong>{{ eboard.vp_name }}</strong></li>
                                <li>{{ eboard.vp_grade }}</li>
                                <li>{{ eboard.vp_major }}</li>
                            </ul>
                        </div>
                        {% if eboard.vp_site|length > 5 %}
                            <p><a href="{{ eboard.vp_site }}" class="btn btn-success">VIEW SITE</a></p>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="plan">
                        <h3>TREASURER</h3>
                        <img class="eboard-img" src="{{ eboard.treasurer_picture.url }}">
                        <div>
                            <ul>
                                <li><strong>{{ eboard.treasurer_name }}</strong></li>
                                <li>{{ eboard.treasurer_grade }}</li>
                                <li>{{ eboard.treasurer_major }}</li>
                            </ul>
                        </div>
                        {% if eboard.treasurer_site|length > 5 %}
                            <p><a href="{{ eboard.treasurer_site }}" class="btn btn-success">VIEW SITE</a></p>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="plan blue">
                        <h3>SECRETARY</h3>
                        <img class="eboard-img" src="{{ eboard.secretary_picture.url }}">
                        <div>
                            <ul>
                                <li><strong>{{ eboard.secretary_name }}</strong></li>
                                <li>{{ eboard.secretary_grade }}</li>
                                <li>{{ eboard.secretary_major }}</li>
                            </ul>
                        </div>
                        {% if eboard.secretary_site|length > 5 %}
                            <p><a href="{{ eboard.secretary_site }}" class="btn btn-success">VIEW SITE</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-section mbr-section mbr-section--relative mbr-section--fixed-size" id="contact"
             style="background-color: rgb(239, 239, 239);">
        <div class="mbr-section__container mbr-section__container--std-padding container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                            <div class="mbr-header mbr-header--center mbr-header--std-padding">
                                <h2 class="mbr-header__text">CONTACT US FOR INFO</h2>
                            </div>
                            <div data-form-alert="true"></div>
                            <form action="{% url 'contact' %}" method="post" data-form-title="CONTACT FORM">
                                {% csrf_token %}
                                <input type="hidden" value="" data-form-email="true">
                                <div class="form-group">
                                    <input type="text" class="form-control" maxlength="64" name="name" required=""
                                           placeholder="Name*" data-form-field="Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" maxlength="75" name="email" required=""
                                           placeholder="Email*" data-form-field="Email">
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" maxlength="12" name="phone"
                                           placeholder="Phone"
                                           data-form-field="Phone">
                                </div>
                                <div class="form-group">
                                <textarea class="form-control" style="resize: none" name="message" required=""
                                          placeholder="Message*" rows="7" data-form-field="Message"></textarea>
                                </div>
                                <div class="mbr-buttons mbr-buttons--right">
                                    <button type="submit" class="mbr-buttons__btn btn btn-lg btn-warning">CONTACT US
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
